{
  "singleQuote": true,
  "overrides": [
    {
      "files": ["./**.html"],
      "options": {
        "tabWidth": 2,
        "htmlWhitespaceSensitivity": "ignore",
        "singleAttributePerLine": false,
        "printWidth": 300,
        "proseWrap": "preserve"
      }
    }
  ]
}
