@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk', sans-serif;
}

.c-card {
  @apply w-[285px] h-[156px] md:w-[447px] md:h-[245px] py-4 px-5 px-8 md:py-7 text-white bg-cover;
}

input {
  @apply appearance-none border border-light-gray py-3 px-4 rounded-lg focus:outline-none;
}

input:focus {
  background: radial-gradient(
        circle at 100% 100%,
        #ffffff 0,
        #ffffff 6px,
        transparent 6px
      )
      0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 6px, transparent 6px)
      100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 6px, transparent 6px)
      0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 6px, transparent 6px) 100%
      100%/8px 8px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 4px)
      calc(100% - 16px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px)
      calc(100% - 4px) no-repeat,
    linear-gradient(90deg, #6348fe 0%, #610595 100%);
  border-radius: 8px;
  /* box-sizing: content-box; */
}

label {
  @apply mb-2 uppercase;
}

.error {
  @apply text-red-500 absolute -bottom-6;
}

.error__input {
  border: 2px solid red;
}

.error__input:focus {
  background: radial-gradient(
        circle at 100% 100%,
        #fff 0,
        #fff 11px,
        transparent 11px
      )
      0% 0%/9px 9px no-repeat,
    radial-gradient(circle at 0 100%, #fff 0, #fff 11px, transparent 11px) 100%
      0%/11px 11px no-repeat,
    radial-gradient(circle at 100% 0, #fff 0, #fff 11px, transparent 11px) 0%
      100%/11px 11px no-repeat,
    radial-gradient(circle at 0 0, #fff 0, #fff 11px, transparent 11px) 100%
      100%/11px 11px no-repeat,
    linear-gradient(#fff, #fff) 50% 50% / calc(100% - 0px) calc(100% - 0px)
      no-repeat,
    linear-gradient(#fff, #fff) 50% 50% / calc(100% - 0px) calc(100% - 0px)
      no-repeat,
    #fb0000;
  border-radius: 8px;
}

form {
  @apply w-[90vw] md:w-[381px] mt-20 mb-11 md:my-0;
}

.form_input {
  @apply w-full;
}

#input_month,
#input_year {
  @apply w-20;
}

#input_code {
  @apply w-full md:w-[191px];
}

.button {
  @apply bg-deep-violet text-white py-4 rounded-lg w-full;
}

#thank_you {
  @apply w-[90vw] md:w-[381px];
}
